<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>3251387988-6t3hh58luv59c4lucv9kefjo1df183vf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.3251387988-6t3hh58luv59c4lucv9kefjo1df183vf</string>
	<key>API_KEY</key>
	<string>AIzaSyDR3bGDQGeV4t2Vf7ytDWJAAFkPHNACXqI</string>
	<key>GCM_SENDER_ID</key>
	<string>3251387988</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>litorx.RateAll</string>
	<key>PROJECT_ID</key>
	<string>rateall-1ecee</string>
	<key>STORAGE_BUCKET</key>
	<string>rateall-1ecee.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:3251387988:ios:76c8346ac77ca17c86b7c1</string>
</dict>
</plist>